* {
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Roboto", serif;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
.container {
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}
section.one {
  background-image: url("images/tesla-section-1-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
}
nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: auto;
}
.left svg {
  width: 124px;
  height: 54px;
  color: white;
}
.right {
  overflow: hidden;
}
.right a {
  padding: 4px 16px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
.right a:hover {
  font-size: 17px;
  color: red;
  font-weight: 500;
}
#menu {
  color: white;
  font-size: 25px;
  display: none;
}
.icons .material-icons {
  color: white;
  font-size: 25px;
  padding: 4px 9px;
  transition: all 0.3s ease-in-out;
}
.icons .material-icons:hover {
  color: red;
}
.mid-top {
  text-align: center;
  position: relative;
  top: 50px;
}
.mid-top h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: white;
}
.button-container {
  max-width: 100%;
  inline-size: auto;
}
.white-btn {
  border-radius: 4px;
  border: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding: 12px 34px;
  margin: 4px;
  text-align: center;
  color: #393c41;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
.white-btn:hover {
  font-size: 16px;
}
