* {
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Roboto", serif;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
.container {
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}
section.one {
  background-image: url("images/tesla-section-1-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}
nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.left svg {
  width: 124px;
  height: 54px;
  color: white;
}
.right {
  overflow: hidden;
}
.right a {
  padding: 4px 16px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
.right a:hover {
  font-size: 17px;
  color: red;
  font-weight: 500;
}
#menu {
  color: white;
  font-size: 25px;
  display: none;
}
.icons .material-icons {
  color: white;
  font-size: 25px;
  padding: 4px 9px;
  transition: all 0.3s ease-in-out;
}
.icons .material-icons:hover {
  color: red;
}
.mid-top {
  text-align: center;
  position: relative;
  top: 50px;
}
.mid-top h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: white;
}
.button-container {
  max-width: 100%;
  inline-size: auto;
}
.white-btn {
  border-radius: 4px;
  border: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding: 12px 34px;
  margin: 4px;
  text-align: center;
  color: #393c41;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}
.white-btn:hover {
  font-size: 16px;
}
/* second page */
section.two {
  background-image: url(images/tesla-section-2-bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.large-h1 {
  font-size: 3.2rem;
  margin-bottom: 5px;
}
.large-h2 {
  font-size: 2.125rem;
  margin-top: 0;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
.large-h3 {
  font-size: 1.2rem;
  margin-top: 5px;
}
.blue-white-container {
  margin-bottom: 50px;
  width: 100%;
  max-width: 100%;
  inline-size: auto;
}
.blue-btn {
  padding: 10px 34px;
  font-size: 14px;
  background-color: #3e6ae1;
  border-radius: 4px;
  color: white;
  border: transparent;
  margin-right: 5px;
  text-align: center;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  width: 160px;
}
.white-button {
  padding: 10px 34px;
  border: transparent;
  border-radius: 4px;
  font-size: 14px;
  color: #393c41;
  text-align: center;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  width: 160px;
}
.blue-btn:hover {
  font-size: 16px;
}
.white-button:hover {
  font-size: 16px;
}
.large-h2-four {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 5px;
}
.large-h3-four {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
section.three {
  background-image: url("images/tesla-section-3-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.four {
  background-image: url("images/tesla-section-4-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.five {
  background-image: url("images/tesla-section-5-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.six {
  background-image: url("images/tesla-section-6-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.six svg {
  width: 299px;
  height: 85px;
  margin-top: 50px;
}
.darK-btn-container {
  margin-bottom: 70px;
}
.dark {
  background-color: #111111;
  color: #a2a3a5;
  font-size: 14px;
  padding: 8px 19px;
  width: 130px;
  margin-left: 5px;
  border: transparent;
  cursor: grab;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.dark:hover {
  background-color: #393c41;
  color: #111111;
}
section.seven {
  background-image: url("images/tesla-section-7-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.large-h3-five {
  font-size: 2.1rem;
  margin-top: 5px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
section.eight {
  background-image: url("images/tesla-section-8-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.nine {
  background-image: url("images/tesla-section-9-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.ten {
  background-image: url("images/tesla-section-10-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.eleven {
  position: relative;
  width: 100%;
  height: 543px;
  overflow: hidden;
}
.video-text {
  position: absolute;
  top: 180px;
  bottom: 10px;
  left: 50%;
  padding-left: 50px;
  transform: translate(-50%);
  z-index: 1;
  text-align: left;
}
.eleven video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.eleven .video-text {
  position: relative;
  z-index: 1;
  color: white;
}
footer {
  width: 100%;
}
.top-footer {
  width: 500px;
  height: 474px;
  margin: 30px auto;
  text-align: center;
}
.top-footer p {
  margin: 0;
  padding-bottom: 14px;
  color: #5c5e62;
  font-size: 12px;
  line-height: 18px;
}
.bottom-footer {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}
.underline {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
small {
  padding: 8px;
  color: #5c5e62;
}
