* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", serif;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
.container {
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}
section.one {
  background-image: url("images/tesla-section-1-bg.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.left svg {
  width: 124px;
  height: 54px;
  color: white;
}
.right {
  overflow: hidden;
}
.right a {
  padding: 4px 16px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  cursor: grab;
}
#menu {
  color: white;
  font-size: 25px;
  display: none;
}
.icons .material-icons {
  color: white;
  font-size: 25px;
  padding: 4px 9px;
}
