@media screen and (max-width: 768px) {
  nav {
    flex-direction: row;
    background-color: white;
  }
  section.one {
    padding: 0;
  }
  .left {
    position: relative;
    top: 0;
  }

  .icons {
    display: none;
  }
  .right a {
    display: none;
  }
  .right.responsive {
    position: relative;
    display: block;
    color: white;
  }
  .right.responsive #menu {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
  }
  #menu {
    display: block;
    margin-bottom: 16px;
    color: #393c41;
  }
  .left.responsive svg {
    color: black;
  }
  .left svg {
    color: #393c41;
  }
  .right.responsive a {
    float: none;
    display: block;
    text-align: right;
    position: relative;
    top: 30px;
    color: #393c41;
  }

  .right.responsive #menu {
    color: #393c41;
  }
  .mid-top {
    top: 10px;
  }
  .mid-top h1 {
    font-size: 2.5rem;
  }
}
